<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="contabilidade.component.css">
</head>
<body>
	<div class="body">
		<div id="sidenav" class="sidenav">
			<span>A Peixaria</span>
			<a href="#">Clientes</a>
			<a href="#">Produtos</a>
			<a href="#">Registrar pedido</a>
		 	<a href="#">Pedidos pendentes</a>
		 	<a href="#">Histórico</a>
		</div>
		<div class = "pageContent">
			<div class="contabilidadeHeader">
				<span>Contabilidade</span>
			</div>

			<div class="contabilidadeContent">
				<div class="contabilidadeNavRow">
					<div id="diario" class="nav">Diário</div>
					<div id="semanal" class="nav">Semanal</div>
					<div id="mensal" class="nav">Mensal</div>
				</div>
				<div class="contabilidadeRow">
					<div>
						<label >Lucro: R$</label>
						<label id="lucro">50.80</label>
					</div>
					<div>
						<label>Bruto: R$</label>
						<label id="bruto">110.20</label>
					</div>
				</div>
			</div>

			<div class="contabilidadeFooter">
				
			</div>
		</div>
	</div>
</body>
</html>